body{
    
    margin: 0;
    font-family: 'trajan','avenir', 'futura', sans-serif;
}

header{
    background-color: rgb(26, 4, 4);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

header h1{
    color: white;
}

header img{
    border-radius: 15px;
    width: 200px;
    border: 5px solid #D3D2C3;
    
}